<script type="text/ng-template" id="data-grid.html">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Barry</td>
                    <td>Barnes</td>
                    <td>bbons@kgb.gov</td>
                </tr>
                <tr>
                    <td>James</td>
                    <td>Bond</td>
                    <td>jbond@mi6.gov</td>
                </tr>
                <tr>
                    <td>Sterling</td>
                    <td>Archer</td>
                    <td>sarcher@sis.gov</td>
                </tr>
            </tbody>
        </table>
    </div>
</script>