

.content-justified .jumbotron {
    background-color: transparent;
    padding: 0;
}

.content-justified .jumbotron .offset {
    margin-right: 10px;
}

.content-justified .row {
    margin-top: 20px;
}