

mixin topPageNav(cssClass, active)
    ul(class="#{cssClass}")
        - if (active === "windows") {
            li.active
                a(href="/pages/windows") Windows
        - }
        - else {
            li
                a(href="/pages/windows") Windows
        - }

        - if (active === "grids") {
            li.active
                a(href="/pages/grids") Data Grids
        - }
        - else {
            li
                a(href="/pages/grids") Data Grids
        - }

        - if (active === "charts") {
            li.active
                a(href="/pages/charts") Charts
        - }
        - else {
            li
                a(href="/pages/charts") Charts
        - }

