//- This is the application chart catalog page.
extends ../layouts/nav-justified

block pageTitle
    title #{title}

block pageHeader
    include ../mixins/top-page-nav
    h3(class="text-muted")
        | S2 Security
    +topPageNav("nav nav-justified", "charts")

block pageContent
    h1 #{title}
        small
            |  are powerful visualization components and a data-driven approach to DOM manipulation.

block pageFooter
    p
        | Copyright © 2013 S2 Security Corporation