//- This is the application grid control catalog page.
extends ../layouts/nav-justified

block pageTitle
    title #{title}

block pageHeader
    include ../mixins/top-page-nav
    h3(class="text-muted")
        | S2 Security
    +topPageNav("nav nav-justified", "grids")

block pageContent
    h1 #{title}
        small
            |  is a showcase of basic to cell editable to infinite scrollable data grid controls.

block pageFooter
    p
        | Copyright © 2013 S2 Security Corporation