//- This page displays all window container components.
extends index

block pageContent
    .row
        .col-lg-3
            | No, no, no. A vigilante is just a man lost in scramble for his own gratification.
            | He can be destroyed or locked up. But if you make yourself more than just a man,
            | if you devote yourself to an idel and if they can't stop you then you become something else entirely.
            | Legend, Mr Wayne.

        .col-lg-9
            p
                | Bender, quit destroying the universe!
            p
                | Just once I'd like to eat dinner with a celebrity who isn't bound and gagged.
            p
                | Oh, I don't have time for this. I have to go and buy a single piece of fruit with a coupon and then return it,
                | making people wait behind me while I complain.