//- Include all of the header meta data and all application and library stylesheets.
meta(charset="utf-8")
meta(content="width=device-width, initial-scale=1.0", name="viewport")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.ico")
link(rel="stylesheet", type="text/css", href="/stylesheets/libs/css/libs.css")
link(rel="stylesheet", type="text/css", href="/stylesheets/app/standard/app.css")
| <!--[if lte IE 9]>
|   <script type="text/javascript" src="/javascript/libs/bootstrap-ie-libs.js"></script>
| <![endif]-->
| <!--[if lte IE 9]>
|   <script type="text/javascript" src="/javascript/libs/angular-ie-libs.js"></script>
|   <script type="text/javascript">
|       document.createElement('panel');
|   </script>
| <![endif]-->
include ../../../../../../dist/main/webapp/templates.html

