//- Include all of the application and library javascript.

script(type="text/javascript", src="/javascript/libs/libs.js")
script(type="text/javascript", src="/javascript/libs/ace-libs.js")
script(type="text/javascript", src="/javascript/app/app.js")
