//- Include all of the header meta data and all application and library stylesheets.

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(content="width=device-width, initial-scale=1.0", name="viewport")
link(rel="stylesheet", type="text/css", href="/stylesheets/libs/css/libs.css")
link(rel="stylesheet", type="text/css", href="/stylesheets/app/standard/app.css")
//if lt IE 8
    script(type="text/javascript", src="/javascript/libs/angular-ie-libs.js")
//if lt IE 9
    script(type="text/javascript", src="/javascript/libs/bootstrap-ie-libs.js")