//- This page displays all forms container components.
extends index

block pageContent
    .row
        .col-lg-3
            ul.list-group
                a(href="#inline-form", class="list-group-item")
                    | Inline Form
                a(href="#horizontal-form", class="list-group-item")
                    | Horizontal Form
        .col-lg-9
            div(class="page-header margins-to-zero")
                h1.margins-to-zero #{title}
                p.lead
                    | A set of container, DOM in a box, components.

            h3(id="inline-form")
                | Inline Form

            #inline-form-display
                p
                    | Clea omniscient razor-fist black goliath ripcord rogue mephisto hawkman molten man hiro nakamura husk
                    | firestar galactus rick flag shocker. Vanisher namor hal jordan power girl red arrow man-thing cyborg
                    | superman lightning lord rick flag.

            h3(id="horizontal-form")
                | Horizontal Form

            #horizontal-form-display
                p
                    | Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.
                    | De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia?
                    | De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo
                    | evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse,
                    | cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus.
                    | Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror.
                    | Nigh tofth eliv ingdead.