//- This is the base page for all pages in the application
extends ../layouts/nav-bar-default

block pageTitle
    title #{title}

block pageProductName
    | S2 Security

block pageMainMenu
    include ../partials/menus/page-main-menu-items

block pageContent
    .jumbotron
        .container
            h1 Duck Tape
            p.lead
                | A User Interface as a Service (UIaaS) that
                | allows developers to utilize pre-built components to create their own UI within an existing web application or conveniently build a new one.
                | Components are implemented as <a href="http://angularjs.org/">Angular JS</a> <a href="http://docs.angularjs.org/guide/directive">Directives</a>,
                | and component dependencies are delivered as <a href="http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api">REST services</a>.
            p.lead
                a(class="btn btn-danger btn-lg offset", href="http://www.egghead.io/")
                    | Learn More Angualr JS »
                a(class="btn btn-primary btn-lg", href="http://www.drdobbs.com/open-source/twitters-bootstrap-3-polished-and-shined/240160795/")
                    | Learn More Bootstrap »
            .btn-group
                a(class="btn btn-success btn-lg")
                    | Get Started
                a(class="btn btn-success btn-lg dropdown-toggle", data-toggle="dropdown")
                    span.caret
                ul.dropdown-menu
                    include ../partials/menus/page-main-menu-items

block pageFooter
    p
        | Copyright © 2013 S2 Security Corporation