//- This page displays all window container components.
extends index

block pageContent
    .row
        .col-lg-3
            ul.list-group
                a(href="#basic-panel", class="list-group-item")
                    | Basic Panel
                a(href="#panel-with-heading", class="list-group-item")
                    | Panel With Heading
                a(href="#simple-bubble-panel", class="list-group-item")
                    | Simple Bubble Panel
        .col-lg-9
            div(class="page-header margins-to-zero")
                h1.margins-to-zero #{title}
                p.lead
                    | A set of container, DOM in a box, components.

            h3(id="basic-panel")
                | Basic Panel

            sys-panel-window
                | Machine man cannonball thor azazel amazo hyperion multiple man stargirl spawn amazo
                | professor x. Vindicator dl hawkins hollow liz sherman thor mera savage dragon bane blackwulf
                | lightning lord scarlet spider. Bullseye flash kid flash vagabond bullseye isis bird-man lightning lad.

            h3(id="panel-with-heading")
                | Panel With Heading

            sys-panel-window(panel-title="Test Panel")
                | Clea omniscient razor-fist black goliath ripcord rogue mephisto hawkman molten man hiro nakamura husk
                | firestar galactus rick flag shocker. Vanisher namor hal jordan power girl red arrow man-thing cyborg
                | superman lightning lord rick flag.

            h3(id="simple-bubble-panel")
                | Simple Bubble Panel
            p
                | Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.
                | De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia?
                | De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo
                | evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse,
                | cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus.
                | Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror.
                | Nigh tofth eliv ingdead.