
form(class="navbar-form navbar-right", style="width: 300px;")
    .form-group
        .input-group
            input(class="form-control", placeholder="Search")
            span.input-group-btn
                button(class="btn btn-primary")
                    i.icon-search