
form(class="navbar-form navbar-right")
    .form-group
        .input-append
            input(class="form-control", placeholder="Search")
    button(class="btn btn-primary", style="margin-left:5px;")
        i.icon-search